<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<% javascript 'stats' %>

<div class="col s12">
  <div class="row">
    <div class="col s12">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">Analytics data for <a href="<%= "#{root_url}#{@link.ugly_path}"%>" target="_blank"><%= "#{root_url}#{@link.ugly_path}" %></a></span>
          <p>Created <%= time_ago_in_words(@link.created_at) %> ago</p>
          <p>Original URL: <a href="<%= @link.url %>"><%= @link.url %></a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <p>Total clicks: <b><%= @total_clicks %></b></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="card horizontal">
      <div class="card-stacked">
        <div class="card-content">
          <%= line_chart @time_chart_data %>
        </div>
      </div>
    </div>
  </div>

  <div class="col s12">
    <div class="row">
        <div class="col s6">
          <p>Referrers</p>
          <%= pie_chart @referrers_chart_data %>
        </div>
        <div class="col s6">
          <p>Browsers</p>
          <%= pie_chart @browsers_chart_data %>
        </div>
    </div>
  </div>

  <div class="col s12">
    <div class="row">
        <div class="col s6">
          <p>Countries</p>
          <%= geo_chart @geo_chart_data %>
        </div>
        <div class="col s6">
          <p>Operating Systems</p>
          <%= bar_chart @os_chart_data %>
        </div>
    </div>
  </div>
</div>
